@import "constants";

$row-height: 25px;

.posts {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  
    h1,h2,h3,h4,h5,h6 {
      font-size: $font-size;
      margin: 0;
      padding: 0;
    }
  }
  
  .post {
    display: grid;
    grid-template-columns: 100px 275px 1fr;
    padding: 0;
    margin: 1px 0;    
    &:nth-child(even){
      background: rgb(238, 238, 238);
    }
    .post-item {
      text-align: left;
      vertical-align: middle;  
      p {    
        margin: 0;
      }    
    }
  
    .date {
    }
  
    .source {
    }
    
    .title {
        margin-left: 3px;
    }
    
    .exerpt {      
    }
}

@media screen and (max-width: $tablet-width) {
    .post{
        grid-template-rows: 2fr 3fr;
    }
    .title {
        grid-column: 2 / span 3;
        text-align: center;
    }
    .title, .date{
        border-bottom: 1px solid lightgray;
        width: 100%;
    }
    .exerpt {
        margin-bottom:  5px;
        grid-row: 2;
        grid-column: 1 / span 4;
    }
}
